*{
    margin: 0;
    padding: 0;
    } 

/*
    Estilos a barra de navegacion
    -Icono de la app 
    -Icono de lugar de donde se visita, con posibilidad de cambiarlo
    -Navbar
*/
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 40px 40px 20px 40px;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
}
.navLogoLugar{
    display: flex;
    justify-content: space-between;
    img{
        width: 150px;
    }
}
.iconoLugar{
    display: flex;
    align-items: center;
    margin-left: 40px;
    padding:5px;
    width: 7em;
    i{
        color: #1D7874;
        padding: 7%;
    }
    a{
        text-decoration: none;
        font-display: none;
        color: #1D7874
    }
}
.navAtajos{
    display: flex;
    a{
        text-decoration: none;
        font-display: none;
        color: black;
    }

    li{
        list-style: none;
        padding: 10px;
        align-items: center;
    }
}
.navAtajos a:hover{
    background-color: #1D7874;
    color: #fff;
    border-radius: 10px;
    transition: 0.2s;
}

/*
    Main
        4 secciones: 
        1)Bienvenida a la app 
        2)funciones
        3)reviews
        4)descarga
*/
main{
    margin: 10px 70px 15px 70px;
    background-color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: visible;
}



/*
    ESTILO A <span> PARA RESALTAR ALGUNAS PALABRAS
*/

.bold{
    color: #1D7874;
}

/*1)Seccion: bienvenida a la app*/

.bienvenidaTextoImg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    margin: 50px 40px;
    align-items: center;
    justify-content: center;
}
.bienvenidaTextoImg img{
    width: 450px;
    margin-left: 50px;
}
.texto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 50px;

}
.tituloPrincipal{
    font-family: "Roboto",bold;
    font-style: bold;
    font-weight: 800;
    font-size: 40px;
    margin: 5px;
}

.subtituloSecundario{
    font-family: "Roboto", "light";
    font-style: light;
    font-weight: 350;
    font-size: 25px;
    margin: 5px 10px;
}

/*BOTON PRINCIPAL*/
.btn{
    background-color: #1D7874;
    color: #fff;
    font-family: "Roboto", "black";
    font-size: 15px;
    font-weight: 700;
    padding: 20px 25px ;
    border-radius: 30px;
    width: 50%;
    margin: 10px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.btn:hover{
    background-color: #fff;
    border: 1px solid black;
    color: black;
    transition: 0.2s;
    cursor: pointer;
}

/*Sección 2)Funcionalidades (x3)*/
.funcionalidades3Tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 40px;
}
.funcionalidades3Tarjetas .texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.tarjetaFuncion{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border: 1px solid #D4C5E2;
    border-radius: 15px;
    font-family: "Nunito Sans", "semibold";
    font-size: 17px;
    padding: 30px 10px;
    margin: 25px;
    justify-items: center;
    align-items: center;
    img{
        margin:5px;
        width: 150px;
        height: auto;
    }
    p{
        margin: 25px;
        padding: 10px 5px;
        justify-content: center;
        align-self: center;
        text-overflow: clip;
    }
}

.tarjetaFuncion:hover{
    background-color: #D4C5E2;
    border: none;
    box-shadow: 0 10px 36px #D4C5E2;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 700;

}

/*Sección 3)Review de usuarios*/
.reseñaUsuario{
    display: flex;
    padding: 10px;
    margin: 70px 60px;
    align-items: center;
    justify-content: center;
    img{
        width: 400px;
        height: auto;
        border-radius: 100%;
        margin-right: 80px;
        box-shadow: 0 10px 20px #D4C5E2;
    }
}

/*Texto de la reseña*/
.textoReseña{
    justify-content: left;
    display: flex;
    flex-direction: column;
}
.textoReseña .tituloPrincipal{
    font-size: 45px;
    margin: 10px;
}
.nombreProfesion{
    font: 1.1em "Nunito Sans", "semibold";
    font-weight: 500;
    margin: 10px;
}

.testimonio{
    font: 1.2em/2 "Nunito Sans", "light";
    font-weight: 200;
    margin: 20px 10px;
}

.estrellas{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    width: 350px;
    i{
        width: 40px;
        color: #FFBC39;
        padding: 3px;
    }
}

/*ULTIMA SECCION -- 4)Descarga*/
.parteDescarga{
    display: flex;
    padding: 15px;
    margin: 50px 50px;
    line-height: 40px;
    align-items: center;
    justify-content: flex-start;
    img{
        width: 450px;
        margin-left: 50px;
    }
}
.texto{
    display: flex;
}
.parteDescarga .tituloPrincipal{
    font-size: 40px;
}
.parteDescarga .subtituloSecundario{
    font-size: 25px;
    margin-bottom: 20px;
}

.bloqueImg{
    display: flex;
    justify-content:start;
    padding: 10px;
    img{
        width: 200px;
        margin: 10px 15px 10px 0;
        border-radius: 15px;
    }
}

a img:hover{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s;
    scale: 1.05;
}

/*ULTIMA PARTE -- FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    margin: 10px 50px 10px 50px;
    justify-content:space-around;
    font-family: 'Nunito Sans', "semibold";
    font-weight: 700;
    font-size: 15px;
    a{
        text-decoration: none;
        font-display: none;
    }
    p{
        color: black;
        padding: 10px;
        margin: 30px;
    }
}

/*BLOQUE 1: IMAGEN LOGO + NAVEGACION FOOTER*/
.footerBloque1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    justify-content: left;
    img{
        width: 20%;
    }
}

.navAtajos{
    display: flex;
    flex-direction: row;
    margin: 0 50px;
}

.footerBloque1 .navAtajos  a:hover{
    background-color: white;
    color: #1D7874;
    font-weight: 900;
}

/*BLOQUE 2: REDES SOCIALES FOOTER*/

.footerBloque2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    i{
        padding: 10px;
        width: 10px;
        margin: 5px;
        color: #1D7874;
    }
    a{
        text-decoration: none;
    }
}